img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 150px;
    padding-top: 20px;
}